<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target="#secondary-navigation" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand pjax" href="/admin/">
        Elasticsearch Demo
        <small>by <b>Thanhtt</b></small>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="secondary-navigation">
      <ul class="nav navbar-nav navbar-right root_links">
        <li class="dashboard_root_link"><a class="pjax" href="/admin/">Dashboard</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</div>
